<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"> 
    <title>Edit Member Profile</title>
</head>
<body>
    <div class="container">
        <h1>Edit Karaoke Clubhouse Member Profile</h1>
        <!-- BUTTON - Back to profile page-->
        <button onclick="location.href='/lobby/<%= member.id %>'">Back to Profile</button>
        <!-- form to edit member profiledata -->
        <form action="/lobby/<%= member.id %>?_method=PUT" method="POST">
            <!-- name text input -->
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" value="<%= member.name %>"">
            </div>
            <!-- nickname text input -->
            <div>
                <label for="nickname">Nickname:</label>
                <input type="text" name="nickname" value="<%= member.nickname %>">
            </div>
            <!-- img link text input -->
            <div>
                <label for="img">Image URL:</label>
                <input type="text" name="img" value="<%= member.img %>">
            </div>
            <!-- city text input -->
            <div>
                <label for="city">City, State:</label>
                <input type="text" name="city" value="<%= member.city %>">
            </div>
            <!-- favorite genre text input -->
            <div>
                <label for="faveGenre">Favorite Genre:</label>
                <input type="text" name="faveGenre" value="<%= member.faveGenre %>">
            </div>
            <!-- drink order text input -->
            <div>
                <label for="drinkOrder">Drink Order:</label>
                <input type="text" name="drinkOrder" value="<%= member.drinkOrder %>">
            </div>
            <!-- form submit button -->
            <input type="submit" value ="Update Member Profile">
        </form>
    </div>
    
</body>
</html>