<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"> 
    <title>Member Profile</title>
</head>
<body>
    <div class="container">
        <h1>Karaoke Clubhouse Member Profile</h1>
        <!-- BACK TO LOBBY BUTTON -->
        <button onclick="location.href='/lobby'" class="button-nav">Back to Lobby</button>
        <!-- PROFILE INFO -->
        <div>Name: <%= member.name %></div>
        <div>Nickname: "<%= member.nickname %>"</div>
        <div>City: <%= member.city %></div>
        <div>Favorite Genre: <%= member.faveGenre %></div>
        <div>Drink Order: <%= member.drinkOrder %></div>
        <img src="<%= member.img %>" alt="<%= member.nickname %>" width="200" height="200" style="display:block">
        <!-- EDIT PROFILE BUTTON -->
        <button onclick="location.href='/lobby/<%= member.id %>/edit'" style="display: inline-block" >EDIT Profile</button>
        <!-- DELETE PROFILE BUTTON -->
        <form action="/lobby/<%= member.id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE Profile">
        </form>
        <!-- SONG LIST SECTION , alternate name: Karaoke Jukebox -->
        <h2><%= member.nickname %>'s Greatest Hits</h2>
        <!-- ADD SONG BUTTON -->
        <button onclick="location.href='/lobby/<%= member.id %>/new'" class="button-action">Add Song</button>
        <!-- SONG TABLE -->
        <table>
            <tr>
                <th>artist</th>
                <th>title</th>
                <th>genre</th>
                <th>songId</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            <% for (let i=0; i<allSongs.length; i++) { %>
                <tr>
                    <td><%= allSongs[i].artist %></td>
                    <td><%= allSongs[i].title %></td>
                    <td><%= allSongs[i].genre %></td>
                    <td><%= allSongs[i].songId %></td>
                    <td>
                        <form action="/song/<%= allSongs[i].id %>/<%= member.id %>">
                            <input type="submit" value="EDIT">
                        </form>
                    </td>
                    <td>
                        <form action="/lobby/<%= member.id %>/<%= allSongs[i].id %>?_method=PUT" method="POST">
                            <input type="submit" value="DELETE">
                        </form>
                    </td>
                </tr>
            <% }; %>
        </table>
    </div> 
</body>
</html>